<nav class="pagination pager align-center">
    <ul>
        {{if .Paginator.HasPrev }}
        <li class="prev">
            <a href="{{ .Paginator.Prev.URL }}">Previous</a>
        </li>
        {{ end }} {{ if .Paginator.HasNext }}
        <li>
            <a href="" class="button round small outline">page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</a>
        </li>
        <li class="next">
            <a href="{{ .Paginator.Next.URL }}">Next</a>
        </li>
        {{ end }}
    </ul>
</nav>